h2{
    color: brown;
}
h3{
    color: #34ff40;
} 
/* hex표기법 표현은 R, G, B 순으로, 두 자리씩 끊어서 16진수로 표현 */
/* #000000 -> #000, #ffffff -> #fff로 줄여서 표현 가능 */
h4{
    color: rgb(00, 250, 255);
}
/* rgb 표현법은 0~255 범위의 숫자로 표현 가능 */
h5{
    color: rgba(255, 40, 200, 0.8);
}
/* rgb표현법에 투명도까지 조절 가능 */
h6{
    color: hsl(280, 50%, 50%);
}
/* hsl 표현법은 Hue(색조), Saturation(채도), Lightness(명도)를 나타내는 표현법 */
/* 색조는 0~360까지 각도로 표현. (0 = red, 120 = green, 240 = blue */
/* 채도와 명도는 0~100 사이의 퍼센트로 설정 */