
:root{
    font-size: 5px;
}
body{
    font-size: 100%;
}
section p{
    font-size: 1.5rem; 

} 
section p strong{
    font-size: 1.5em;
}
/* rem은 브라우저의 디폴트 값에만 영향을 받음 */
/* rem 값은 10보다 작은 크기로 내려가지 않음 */
/* em값은 부모의 영향을 받기 때문에 계산에 어려움이 있음. 
브라우저의 디폴드 값에 따르는 rem을 사용하는 것이 반응형 웹에 더 유리함.*/
/* 폰트의 사이즈도 %로 설정이 가능함. */
/* root->브라우저의 디폴트 값을 변경하는데 사용 */