/* 섹션 안에 있는 태그는 스페이스바로 구분 */
body{
    font-size: 12px;
}
section p{
    font-size: 1.5em; 

} 
/* em을 사용하기 전 p태그 안에 있는 폰트 크기를 기준으로 설정 */
/* 폰트 크기를 지정하지 않으면 브라우저의 디폴트 폰트 크기인 16px을 기준으로 설정 */
section p strong{
    font-size: 1.5em;
}
/* em단위는 상대적인 크기를 나타내기 때문에 반응형 웹에서 사용하기 좋음 */