@use "sass:map";

$books:(
    harry-potter: "Harry",
    spiderman: "Spider",
    ironman: "Iron"
);

$default-width: 50px;
$default-height: 50px;
$default-margin: 10px;

.background{
    display: flex;
    justify-content: center;
    align-items: center;

    @each $key in map.keys($books){
        .#{$key}{
            width: $default-width * 2;
            height: $default-height * 2;
            margin: $default-margin;
            background-color: red;
        }
        .#{$key}::after{
            content: "#{$key}";
            color:white;
            font-size: 20px;
        }
    }

    @each $value in map.values($books) {
        .#{$value}{
            width: $default-width * 4;
            height: $default-height * 4;
            margin: $default-margin;
            background-color: blue;
        }
        .#{$value}::after{
            content: "#{$value}";
            color: white;
            font-size: 20px;
        }
    }

}
