.center{
    width: 1000px;
    margin: auto;
}
.center p{
    font-size: 54px;
    font-weight: 300;
    color: #909090;
    line-height: 76px;
}
.center p strong{
    color: #000;
    position: relative;
}
.center p strong::before{
    position: absolute; bottom: 0;
    content: ' ';
    width: 0%;
    height: 10px;
    background-color: #f54;
    transition: 1s;
}
.center p strong:hover::before{
    width: 100%;
}
.center p sup{
    font-size: 13px;
    vertical-align: text-top;
    position: relative; top: 9px;
    line-height: 100%;
    /* line-height 100% -> 폰트 크기에 위치를 고정
    부모요소의 line-height의 변화에 영향을 받지 않고
    원하는 위치에 고정된 상태로 존재 */
}