body{
    margin: 0; padding: 0;
    box-sizing: border-box;
    min-height: 300vh; width: 100%;
    background-color: #000;

}

.background{
    margin: 0; padding: 0;
    width: 100%; height: 100%;
    box-sizing: border-box;

    .character{
        border: solid 1px #ddd;
        width: 200px; height: 250px;
        position: fixed;

        &.fire{
           bottom: 0; left: 0; 
        }

        &.water{
            top: 0; right: 0;
        }
    }
    
}

button{
    position: fixed;
    z-index: 2;
}

.container{
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(#000, 0.6);
    display: none;
    transition: .3s;
}

.modal-window{
    position: fixed;
    background-color: rgba(#000, 0.3);
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 500px; height: 300px;
    border-radius: .5rem;
    backdrop-filter: blur(3px);
    color: #fff;
    text-align: center;
    line-height: 300px;
    font-size: 5rem;
    transition: .3s;
    box-shadow: 0 0 .3rem rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;


    .card{
        display: flex;
        justify-content: space-around;
        align-items: center;

        .movie-img{
            background: url(https://file2.nocutnews.co.kr/newsroom/image/2023/04/20/202304201050574752_0.jpg) center no-repeat;
            background-size: cover;
            width: 230px; height: 280px;
        }
    }
    
}

.show{
    display: block;
}