@import url(https://fonts.googleapis.com/css?family=Cookie&Raleway&Quicksand:300,700,400);
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    background: url('http://tfgms.com/sandbox/dailyui/bg-1.jpg') center no-repeat;
    background-size: cover;
}
.container{
    background-color: rgba(255, 255, 255, 0.6);
    height: 38rem; width: 30rem;
    margin: 0 auto;
    position: relative;
    top: 50%; transform: translateY(-50%);
    border-radius: 10px;
    padding: 40px;
    backdrop-filter: blur(6px);
}
.container header h1 a img{
    width: 240px;
    height: 137px;
    max-width: 240px;
}
.container h1{
    text-align: center;
    font-family: 'cookie';
    font-weight: 300;
    font-size: 54px;
    color: #515151;
    margin-bottom: 10px;
}

.container form > label{
    display: inline-block;
    color: #515151;
    height: 3.5rem;
    width: 100%;
    border-bottom: solid 1px;
    margin-bottom: 3px;
}
.container form .label-text{
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-family: 'raleway';
    font-weight: bold;
}
.container form > label > input{
    width: 100%;
    height: 63%;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
}
form > label > input:focus{
    outline: none;
}
.container form .user-name{
    float: left;
    width: 50%;
}
.container form label[for='first-name']{
    border-right: solid 1px;
}
.container form label[for='last-name']{
    padding-left: 7px;
}
.container form label[for='password']{
    position: relative;
}
.container form label[for='password'] button{
    position: absolute;
    right: 0;
    border: none;
    background-color: transparent;
    color: #515151;
}
.container form label[for='password'] button:hover{
    color: #333;
    transition: .5s;
    cursor: pointer;
}

.container form label[for="newsletter"]{
    text-align: center;
    margin: 20px 0;
    height: 2rem;
    border: none;
}
.container form label[for="newsletter"] span{
    font-size: 0.7rem;
    font-weight: bold;
    line-height: 2rem;
    color: #515151;
}
.container form label[for="newsletter"] input{
    display: none;
}
.container form label[for="newsletter"]{
    position: relative;
}
.container form label[for="newsletter"] .material-symbols-rounded{
    font-size: 0.8rem;
    position: absolute;
    left: 5.25rem;
}
input#newsletter:checked + .material-symbols-rounded::before{
    content: '\2714';
    position: absolute;
    left: 0.125rem;
    top: -0.25rem;
    color: #515151;
}

.container .submit{
    text-align: center;
}
.container .submit input{
    font-size: 1.2rem;
    font-weight: 300;
    font-family: 'raleway';
    letter-spacing: -0.2px;
    width: 7.2rem;
    height: 2.5rem;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    border: #515151 solid 1px;
}
.container .submit input:hover{
    background-color: #333;
    color: #fff;
    transition: .3s;
}