.App{
  margin: 100px auto;
  text-align: center;
}
.menu{
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  color: tan;
  border-bottom: 2px solid tan;
}
.menu:hover{
  background-color: brown;
}