@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Krub:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Nunito:wght@300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

// font-family: 'Julius Sans One', sans-serif;
// font-family: 'Krub', sans-serif;
// font-family: 'Nunito', sans-serif;
// font-family: 'Quicksand', sans-serif;



:root{
    --primary-color: rgb(232, 224, 255);
    --secondary-color: rgb(187, 131, 243);
}

body{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

.background{
    width: 100%; height: 100%;

    // 내비게이션 바
    nav{
        position: fixed;
        width: 100%; height: 5rem;
        border: 1px solid red;
        background-color: #fff;
        z-index: 2;
    }

    // 좋아요 버튼 모달창
    .modal-container{
        position: fixed;
        width: 100%; height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        display: none;

        .modal-window{
            width: 30rem; height: 30rem;
            border: 1px solid yellow;
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    main{
        padding-top: 5rem;

        // 상단 가로스크롤 아이템
        .item-container{
            display: flex;
            width: 70vw; height: 28rem;
            overflow-x: auto;
            margin: 100px auto;
            background: #fff;
            padding: 1rem;
            border-radius: .5rem;
            border: 1px solid var(--secondary-color);

            .item{
                border: 1px solid blue;
                width: 18rem; height: 26.5rem;
                flex: 1 0 auto;
                margin-right: 1.25rem;
                font-size: 3rem;
                position: relative;
                display: flex;
                flex-direction: column;
                
                cursor: pointer;

                .item-img{
                    text-align: center;
                    height: 50%;
                    background-color: #fff;
                    padding: 1rem;

                    img{
                        width: 11rem;
                        height: 11rem;
                        object-fit: contain;
                        object-position: center;
                    }
                    
                    
                }

                .item-colors{

                    width: 80%;
                    height: 3rem;
                    display: flex;
                    padding: .2rem .5rem;
                    flex-wrap: wrap;

                        .color{
                            margin: .2rem;
                            width: 1.2rem;
                            height: 1.2rem;
                            border-radius: 50%;
                        }

                    }

                .item-info{
                    height: 50%;
                    font-size: 1rem;
                    padding: .8rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    
                    span{
                        word-break: normal;

                        &:first-child{
                            font-size: 1.1rem;
                        }

                        &:first-child, & .bold, &.rating{
                            font-weight: bold;
                        }

                        &.rating{
                            display: flex;
                            align-items: center;
                        }
                    }
                    
                }

                .bookmark{
                    background-color: #fff;
                    border: 1px solid var(--secondary-color);
                    border-radius: 50%;
                    width: 2.5rem; height: 2.5rem;
                    position: absolute;
                    bottom: .5rem;
                    right: .5rem;
                    cursor: pointer;
                    
                }
            }
        }

        // 상세페이지
        .item-page{

            section{
                display: none;
                border: 1px solid red;
                width: 70vw;
                margin: 2rem auto;
                padding: 0 2rem;

                // 아이템 사진 & 정보
                .details{
                    display: flex;
                    align-items: center;
                    border-bottom: 1px solid #333;
                    
                    & > div{
                        width: 50%;
                        height: 100%;
                        flex: 1 1 auto;
                        padding: 1rem 0;
                    }

                    .item-img{
                        text-align: center;
                        img{
                            width: 70%;
                            height: 70%;
                        }

                    }

                }

                // 아이템 묘사
                .item-description{
                    
                }

            }
        }

        // 모든 아이템 정보
        .card-container{
            width: 70vw;
            margin: 1rem auto;
            padding-top: 1rem;
            display: flex;
            flex-wrap: wrap;
            background: #fff;

            .card-item{
                border: 1px solid blue;
                width: 18rem; height: 26.5rem;
                margin: 1rem;
                font-size: 3rem;
                position: relative;
                display: flex;
                flex-direction: column;
                
                cursor: pointer;

                .item-img{
                    text-align: center;
                    height: 50%;
                    background-color: #fff;
                    padding: 1rem;

                    img{
                        width: 11rem;
                        height: 11rem;
                        object-fit: contain;
                        object-position: center;
                    }
                    
                    
                }

                .item-colors{

                    width: 80%;
                    height: 3rem;
                    display: flex;
                    padding: .2rem .5rem;
                    flex-wrap: wrap;

                        .item-color{
                            margin: .2rem;
                            width: 1.2rem;
                            height: 1.2rem;
                            border-radius: 50%;
                        }

                    }

                .item-info{
                    height: 50%;
                    font-size: 1rem;
                    padding: .8rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    
                    span{
                        word-break: normal;

                        &:first-child{
                            font-size: 1.1rem;
                        }

                        &:first-child, & .bold, &.rating{
                            font-weight: bold;
                        }

                        &.rating{
                            display: flex;
                            align-items: center;
                        }
                    }
                    
                }

                .bookmark{
                    background-color: #fff;
                    border: 1px solid var(--secondary-color);
                    border-radius: 50%;
                    width: 2.5rem; height: 2.5rem;
                    position: absolute;
                    bottom: .5rem;
                    right: .5rem;
                    cursor: pointer;
                    
                }
            }
        }
    }

    footer{
        width: 100vw;
        border: 1px solid orange;

        .icons{
            padding: 3rem 0;
            display: flex;

            .scroll-up{
                margin-left: auto;
                margin-right: 2rem;
                cursor: pointer;

                i{
                    width: 3rem;
                    height: 3rem;
                    line-height: 3rem;
                    text-align: center;
                    font-size: 2rem;
                    transition: .2s;
                }
            }

            a{
                width: 3rem;
                height: 3rem;
                line-height: 3rem;
                text-align: center;
                border-radius: 50%;
                font-size: 1.5rem;
                margin: 0 .2rem;
                transition: .2s linear;
            }
        }

        .credit{
            font-size: 1rem;
            width: 100%;
            padding-bottom: 1rem;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;

            i{
                width: 1.5rem;
                height: 1.5rem;
                font-size: 1.5rem;
                margin: .5rem;
            }
        }
    }

    .sns-btns{
        border: 1px solid yellow;
        width: 5rem;
        position: fixed;
        padding-bottom: 1rem;
        left: 0;
        bottom: 0;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;


        .btns-open{
            cursor: pointer;
            transition: 1s;

            .material-symbols-rounded{
                font-size: 3.5rem;
            }
        }

        .icons{
            display: none;
            transition: 1s;

            a{
                font-size: 3.1rem;
                text-decoration: none;
                margin-bottom: .5rem;
            }

        }

        &.active{

            .btns-open{
                transform: rotate(45deg);
            }

            .icons{
                display: block;
            }

        }

    }

    .page-up{
        border: 1px solid yellow;
        width: 5rem;
        height: 5rem;
        position: fixed;
        right: 0;
        bottom: 0;
        
        display: flex;
        justify-content: center;
        align-items: center;

        .material-symbols-rounded{
            font-size: 3.5rem;
        }
    }
}